<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form action="http://localhost:5000/user" method="POST">
    <label>FirstName:</label>
    <input id="firstname" name="first_name" type="text">

    <label>LastName:</label>
    <input id="lastname" name="last_name" type="text">

    <label>BirthDate:</label>
    <input id="birthdate" name="birth_date" type="date">

    <label>ZipCode:</label>
    <input id="zipCode" name="zip_code" type="text">

    <input type="submit" />
</form>

    <h2>All users:</h2>
    {% for user in allUsers %}
        <li>{{ user.id }}. {{ user.first_name }} - {{ user.last_name }}</li>
    {%  endfor %}

</body>
</html>